@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.section-title {
  @apply text-[68px];
}
